#big_wrapper {
    height: 350px;
    width: 500px;
    border: solid 5px #62c02b;  
    padding: 15px;
    padding-top:  50px;
    margin: 30px;
    margin-left: 200px;
    
    color: green;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-variant: small-caps

    


}

